:root{
    --bg-accent: #00439C;
    --bg-accent-alt: #CD3D0F;
    --bg-accent-alt-1: #161C3B;
    --bg-accent-light: #2D64E6;
    --bg-dark: #363636;
    --bg-dark-alt: #1f1f1f;
    --bg-dark-alt-1: #BEBCBB;
    --bg-darker: #000;
    --bg-light: #fff;
    --bg-light-alt: #D9DADC;
}
img{
    display: block;
    max-width: 100%;
}
a{
    color: currentColor;
    text-decoration: none;
}
.footer_list a:hover{
    opacity: 0.8;
    color: currentColor;
}
ul.footer_list{
    list-style: none;
}
/* Layout */
body{
    min-width: 400px;
}
/* Components */
.bg_accent{
    background-color: var(--bg-accent);
}
.bg_accent_alt-1{
    background-color: var(--bg-accent-alt-1);
}
.bg_dark_alt{
    background-color: var(--bg-dark-alt);
}
.bg_dark_alt-1{
    background-color: var(--bg-dark-alt-1);
}
.bg_darker{
    background-color: var(--bg-darker);
}
.btn_dark{
    background-color: var(--bg-dark);
}
.btn_red{
    background-color: var(--bg-accent-alt);
}
.btn_accent_light{
    background-color: var(--bg-accent-light);
}
.btn_light{
    background-color: var(--bg-light);
}
.btn_light_alt{
    background-color: var(--bg-light-alt);
}
.border_accent_light{
    border-bottom: 1px solid var(--bg-accent-light);
}
.text_accent-light{
    color: var(--bg-accent-light);
}
.text_dark{
    color: var(--bg-dark);
}
.pt_4-5{
    padding-top: 2.5rem;
}
.pt_5-5{
    padding-top: 3.5rem;
}
.pb_4-25{
    padding-bottom: 2.25rem;
}
.py_6{
    padding: 4rem 0;
}
.rounded_5{
    border-radius: 1rem;
}
.brand_tm{
    font-size: 8px;
}
.brand_copy{
    font-size: 24px;
}
/* Nav */
.main-header .nav-link.dropdown-toggle{
    display: flex;
    align-items: center;
}
.main-header .dropdown-toggle::after{
    border: none;
    content: '\f078';
    display: inline-block;
    font: var(--fa-font-solid);
    transition: 200ms ease-in-out;
}
.main-header .dropdown-toggle.show::after{
    transform: rotate(180deg);
    color: var(--bg-accent-light);
}
/* Jumbo */ 
.section .jumbo_banner > img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.section.jumbo .thumb_list .col.border_trasparent{
    border: 3px solid transparent;
}
.section.jumbo .thumb_list .col.active{
    border: 3px solid var(--bg-accent-light);   
}
@media screen and (min-width: 769px){
    .social_container{
        max-width: 550px;
    }
}
@media screen and (min-width: 992px){
    .section.jumbo .jumbo_banner > img{
       aspect-ratio: auto;
    }
    .section.news .jumbo_banner > img{
        aspect-ratio: 16/9;
     }
}