:root{
    --bg-accent: #00439C;
    --bg-accent-alt: #CD3D0F;
    --bg-accent-light: #2D64E6;
    --bg-dark: #363636;
    --bg-darker: #000;
    --bg-light: #fff;
}
img{
    display: block;
    max-width: 100%;
}
/* Layout */
body{
    min-width: 400px;
}
.conteiner_ps{
    max-width: 1100px;
}
/* Components */
.banner_top{
    height: 3rem;
    background-color: black;
}
.btn_dark{
    background-color: var(--bg-dark);
}
.btn_red{
    background-color: var(--bg-accent-alt);
}
.btn_accent_light{
    background-color: var(--bg-accent-light);
}
.border_accent_light{
    border-bottom: 1px solid var(--bg-accent-light);
}
.text_accent-light{
    color: var(--bg-accent-light);
}
.text_dark{
    color: var(--bg-dark);
}
.pt_4-5{
    padding-top: 2.5rem;
}
.pt_5-5{
    padding-top: 3.5rem;
}
.pt_6-5{
    padding-top: 4.5rem;
}
.pb_4-25{
    padding-bottom: 2.25rem;
}
.pb_6-5{
    padding-bottom: 4.5rem;
}
.py_4-5{
    padding: 2.5rem 0;
}
.w_35{
    width: 35%;
}
.rounded_5{
    border-radius: 1rem;
}
/* Jumbo */
.section.jumbo > .jumbo_banner{
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(../img/jumbo-bg.png);
}
.jumbo_banner > .container {
    height: 580px;
}
