:root{
    --bg-accent: #00439C;
    --bg-accent-alt: #CD3D0F;
    --bg-accent-alt-1: #161C3B;
    --bg-accent-light: #2D64E6;
    --bg-dark: #363636;
    --bg-dark-alt: #1f1f1f;
    --bg-dark-alt-1: #BEBCBB;
    --bg-darker: #000;
    --bg-light: #fff;
    --bg-light-alt: #D9DADC;
}
img{
    display: block;
    max-width: 100%;
}
a{
    color: currentColor;
    text-decoration: none;
}
.footer_list a:hover{
    opacity: 0.8;
    color: currentColor;
}
ul.footer_list{
    list-style: none;
}
/* Layout */
body{
    min-width: 400px;
}
/* Components */
.bg_accent{
    background-color: var(--bg-accent);
}
.bg_accent_alt-1{
    background-color: var(--bg-accent-alt-1);
}
.bg_dark_alt{
    background-color: var(--bg-dark-alt);
}
.bg_dark_alt-1{
    background-color: var(--bg-dark-alt-1);
}
.bg_darker{
    background-color: var(--bg-darker);
}
.btn_dark{
    border: 2px solid transparent;
    background-color: var(--bg-dark);
}
.nav-item > .btn_dark:hover{
    background-color: var(--bg-darker);   
}
.btn_red{
    border: 2px solid transparent;
    background-color: var(--bg-accent-alt);
}
.btn_red:hover{
    border: 2px solid currentColor;
}
.btn_accent_light{
    background-color: var(--bg-accent-light);
}
.btn_light{
    background-color: var(--bg-light);
}
.btn_light_alt{
    background-color: var(--bg-light-alt);
}
.border_accent_light{
    border-bottom: 1px solid var(--bg-accent-light);
}
.text_accent-light{
    color: var(--bg-accent-light);
}
.text_dark{
    color: var(--bg-dark);
}
.pt_4-5{
    padding-top: 2.5rem;
}
.pt_5-5{
    padding-top: 3.5rem;
}
.pb_4-25{
    padding-bottom: 2.25rem;
}
.py_6{
    padding: 4rem 0;
}
.rounded_5{
    border-radius: 1rem;
}
.brand_tm{
    font-size: 8px;
}
.brand_copy{
    font-size: 24px;
}
.card_list_nav{
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 0.5rem;
    flex-direction: column;
    justify-content: center;
    transition: 200ms ease-in-out;
}
.card_list_nav > a{
    padding: 10px 20px ;
}
.card_list_nav > a:hover{
    color: currentColor;
}
.card_list_nav:hover{
    box-shadow: 1px 1px 5px #000;
}
/* Nav */
.banner_top{
    z-index: 100;
}
.main-header{
    z-index: 100;
}
.main-header > nav{
    position: relative;
}
.main-header .nav-item.dropdown{
    position: static;
}
.main-header .nav-link.dropdown-toggle{
    display: flex;
    align-items: center;
}
.main-header .dropdown-toggle::after{
    border: none;
    content: '\f078';
    display: inline-block;
    font: var(--fa-font-solid);
    transition: 500ms cubic-bezier(.77,.05,.4,1);
}
.main-header .dropdown-toggle.show::after{
    transform: rotate(180deg);
    color: var(--bg-accent-light);
}
.main-header .dropdown-menu{
    transition: 600ms cubic-bezier(.77,.05,.4,1);
}
.list_item_nav{
    display: flex;
    align-items: center;
}
.list_item_nav::before{
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    margin: 0 0.5rem;
    border-radius: 50%;
    transition: 200ms ease-in-out;
    background-color: currentColor;
} 
.divider_custom{
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--bg-dark-alt-1);
}
/* Jumbo */ 
.section .carousel-item > img{
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.section .carousel-indicators{
    position: relative;
    flex-wrap: wrap;
}
.section .carousel-indicators > button{
    background-color: transparent;
    width: calc((100% / 2) - 0.5rem);
    height: calc(100% / 3);
}
.section .carousel-indicators button > img{
    border: 0px solid transparent;
    transition: 300ms ease-in-out;
}
.section .carousel-indicators button.active > img{
    border: 3px solid var(--bg-accent-light);
}
.section .carousel-indicators button > img{
    padding: 0.25rem;
    aspect-ratio: 16/9;
    border-radius: 1rem;
}
@media screen and (min-width: 769px){
    .section .carousel-item > img{
        aspect-ratio: 16/9;
    }
    .social_container{
        max-width: 550px;
    }
    .section .carousel-indicators > button{
        width: calc((100% / 3) - 0.5rem);
        height: calc(100% / 2);
    }
}
@media screen and (min-width: 992px){
    .main-header .dropdown-menu{
        display: flex;
    }
    .main-header .dropdown-menu{
        z-index: 99;    
        left: 0;
        right: 0;
        top: -500px;
    }
    .main-header .dropdown-menu.show{
        top: 50px;
    }
    .section.jumbo .carousel-item > img{
       aspect-ratio: 21/9;
    }
    .section .carousel-indicators > button{
        width: calc((100% / 6) - 0.5rem);
        height: calc(100% / 1);
    }
    .section.news .jumbo_banner > img{
        aspect-ratio: 16/9;
     }
}